/*  //////////////////////////////////////////////////
    Subj:   Coding Dojo > Web Fundamentals > HTML/CSS/JS
            Easy Bay
    By:     Virgilio D. Cabading Jr.    October 20, 2021
    ////////////////////////////////////////////////// */

.title {
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
    /* background-color: red; */
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.whole-board {
    width: inherit;
}

.box {
    height: 50px;
    width: 50px;
}

.light-box {
    background-color: red;
}

.dark-box {
    background-color: black;
}