<!DOCTYPE html>
<!-- /////////////////////////////////////////////////////////////////////
# Subj:     Coding Dojo > Python > Flask > Fundamentals: Understanding Routing
# By:       Virgilio D. Cabading Jr.  Created: October 27, 2021
# ///////////////////////////////////////////////////////////////////// -->
<html lang="en">

<!--//// HEAD ////////////////////////////////////////-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css_lib.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- linking a javascript file -->
    
    <title>Playground</title>
</head>

<!--//// BODY ////////////////////////////////////////-->
<body>
    <div class="main-container">
        <h1>Welcome!</h1>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>